@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Pet;
    
        <img class="esh-catalog-thumbnail" src="@Model.peturl" />
        
        <div class="esh-catalog-name">
            <span>@Model.pettype-@Model.petcolor</span>
        </div>
        <div class="esh-catalog-price">
            <span>@Model.price</span>
        </div>
        <div class="esh-basket-item">
            <span>Adoption Id-@Model.transactionid</span>
        </div>
        <div class="esh-basket-item">
            <span>Adopted on-@Model.adoptiondate</span>
        </div>


