./petsite/.idea
./petsite/.vs
./petstatusupdater/function.zip
./petlistadoptions/node_modules/*
bin/
obj/
###################
# compiled source #
###################
*.dll
*.exe
cscdk
petsearch/petsearch/bin/Debug/netcoreapp3.0/PetSearch.dll